.carousel_Section {
  color: #fff;
  margin-bottom: 70px;
}

.carousel_wrapper {
  margin-bottom: 20px;
}

.carousel_wrapper .wrapper {
  display: flex;
  justify-content: space-between;
}

.carousel_Title {
  font-size: 1.7rem;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .carousel_Title {
    font-size: 1.3rem;
    font-weight: 400;
  }
}
