.carousel_Section {
  color: #fff;
  margin-bottom: 70px;
}

.carousel_wrapper {
  margin-bottom: 20px;
}

.carousel_Title {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .carousel_Title {
    font-size: 1rem;
    font-weight: 400;
  }
}
